html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body

        h1 User App
            form(action=`/user`, method='post')
                input(type="text", placeholder= 'name', name='name')
                input(type="text", placeholder= 'email', name='email')
                input(type="text", placeholder= 'surname', name='surname')
                input(type="text", placeholder= 'githubUsername', name='githubUsername')
                input(type='submit', value = "addUser")

            ul
                each user in data
                    li
                        if user._id == id
                            include formUpdate   
                        else
                            include listUser